<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shopify Theme</title>

    {{ 'tailwind.css' | asset_url | stylesheet_tag }}
    {{ 'style.css' | asset_url | stylesheet_tag }}

    {{ content_for_header }}
</head>
<body>

    {% include "header.liquid" %}

    {% include "homapge.liquid" %}


    {{ content_for_layout }}

    {% include "footer.liquid" %}

</body>
</html>