<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shopify Theme</title>

    {{ 'style.css' | asset_url | stylesheet_tag }}

    {{ content_for_header }}
</head>
<body>
<h1>This text from /template/theme.liquid</h1>
{{ content_for_layout }}

</body>
</html>